.app {
    max-width: 80rem;
    margin: auto;

    &__header {
        width: 100%;
    }


    @media (max-width: $breakpoint-wide) {


    }

    @media (max-width: $breakpoint-desktop) {

    }
}
