$white: #fff;
$black: #000;
$primary: #00695C;
$font-color: #545454;
$font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$transition: .25s ease;
$breakpoint-desktop: 1024px;
$breakpoint-wide: 1300px;
$breakpoint-tablet: 840px;
